.text-wrapper{
    display: block;
    padding: 1rem;
    height: 15vh;
    border-radius: 1rem;
    border: none;
    background: lighten(#F2E5E5,1%);
    width: 90%;
    align-self: center;

    &:focus-visible{
        outline: none;
    }
}
